
.icon-location:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e801'; } /* '' */
.icon-art-gallery:before { content: '\e803'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
