@import url('https://fonts.googleapis.com/css2?family=Krub:wght@700&display=swap');
:root{
		--blanco: #ffffff;
	--oscuro: #212121;
	--primario: #ffc107;
	--secuandari: #0897a7;
	--gris: #757575;
	--grisclaro: #DFE9F3;
}

html{
	font-size: 62.5%;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: 'Krub',sans-serif;
	background-color: var(--grisclaro);
}

.titulo span{
	font-size: 16px;
}

.titulo{
	text-transform: uppercase;
	text-align: center;
}

.nav-bg{
	background-color: var(--secuandari);
}

.navegacion-principal { 
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.contenedor{
	max-width: 120rem;
	text-align: center;
	margin: 0 auto;
}

.servicios, .navegacion-principal, .formulario{
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

@media (min-width: 768px){
	/*servicios*/
.servicios {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;/*1fr = 3.33%*/
	column-gap: 1rem;
 }

}

.servicios h3{
 color: var(--secuandari);
}

.servicios p{
	line-height: 2;
}

h2,h3{
	text-align: center;
}

@media (min-width: 758px){
	.navegacion-principal{
		flex-direction: row;
	}
}

.navegacion-principal a{
	display: block;
	text-align: center;
	padding: 1rem;
	color: var(--blanco);
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
}

.navegacion-principal a:hover{
background-color: var(--primario);
color: var(--oscuro);
}

.hero {
	background-image: url(../img/inicio.jfif);
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	position: relative;
	margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  background-color: rgba( 0,0,0,.5 );
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenido-hero h2,
.contenido-hero p{
	color: var(--blanco);
}
.contenido-hero .ubicacion{
	display: flex;
	align-items: flex-end;
}

.boton{
	background-color: var(--secuandari);
	color: var(--blanco);
	padding: 1rem 3rem;
	margin-top: 1rem;
	font-size: 2rm;
	text-decoration: none;
	/* text-transform: uppercase; para poner en mayusculas los textos */
	text-transform: uppercase;
	font-weight: bold;
	border-radius:.5rem;
	width: 80%;
	text-align: center;
	border: none;
}
@media (min-width: 768px) {
	.boton{
		width: auto;
	}
}
.boton:hover{
	cursor: pointer;
}

i {
	height: 5rem ;
	width: 5rem ;
	background-color: var(--primario);
	border-radius: 50%;
	display: flex;
	justify-content:space-evenly;
	align-items: center;
}

.sombra{
-webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
-moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
background-color: var(--blanco);
padding: 2rem;
border-radius: 2rem;
}

footer{
    text-align: center;
    font-family:'Grandstander', cursive;    
}