@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap');

*{
  font-family:'Grandstander', cursive;
}

body{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
text-align: center;
}

input [type="text"],[type="password"] {
  outline: none;
  padding: 20px;
  display:block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto; 
}


input[type="submit"]:hover{
  background-color: #00b8eb;
}
header{
  border-bottom: 2px solid #eee;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100px;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #333;
}

body{
    background: gold;
}