@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

body{
    background-image:url(../img/formulario.jfif);
}

 form{
  width: 800px;
  margin: auto;
  padding: 10px 20px auto;
  
 }

  input{
margin: 10px;
padding: 3px;
font-family: 'Krub',sans-serif;
font-size: 14px;

}

h1,h2,h4{
font-family: 'Krub',sans-serif;
}

#contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  auto;
    padding:  auto;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}
#centrar {
    max-width: 320px;
    width: 100%;
}

#centrado {
    max-width: 389px;
    width: 100%;
}

select{
margin: 12px;
padding: 3px;
font-family: 'Krub',sans-serif;
font-size: 14px;
}

#registro {
    width: 100%;
    padding: 50px 30px;
    background-color: #67d1b9;
    box-sizing: border-box;
    border-radius:.5rem;
}

#registro input{
  font-family: 'Krub',sans-serif;
}

